.footer {
	&__inner {
		max-width: 1300px;
		margin: 0px auto;
		padding: 24px 10px 100px;
	}
	&__notice {
		background-color: #fff;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		&-inner {
			padding: 20px 10px;
			ul {
				display: flex;
				li {
					display: flex;
					align-items: center;
					font-size: 16px;
					color: #666666;
					&::before {
						content: "";
						display: block;
						width: 1px;
						height: 12px;
						background-color: #d5d5d5;
						margin: 0px 14px;
					}
					&:first-child::before {
						display: none;
					}
				}
			}
		}
		&-more {
			svg {
				width: 12px;
				fill: #333;
			}
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	&__menu {
		display: flex;
		li {
			display: flex;
			align-items: center;
			a {
				font-size: 14px;
				color: #666666;
				strong {
					font-weight: 700;
				}
			}
			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 12px;
				background-color: #d5d5d5;
				margin: 0px 14px;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
	&__sns {
		display: flex;
		gap: 10px;
		li {
			&:first-child {
				margin-right: 30px;
			}
		}
	}
	&__bottom {
		display: flex;
		gap: 60px;
		color: #666666;
		justify-content: space-between;

		> div {
			display: flex;
			flex-direction: column;
		}

		h6 {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 10px;
			color: #333;
		}
		p {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 20px;
			display: flex;
			span {
				font-weight: 500;
				display: flex;
				align-items: center;
				margin-left: 4px;
				color: #333;
				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 12px;
					background-color: #d5d5d5;
					margin: 0px 10px;
				}
			}
		}
		strong {
			font-size: 14px;
			font-weight: 700;
		}
		h5 {
			font-weight: 700;
			font-size: 32px;
			color: #3182f6;
			font-family: "Lato", sans-serif;
			margin-bottom: 14px;
		}
		button {
			max-width: 90px;
			display: flex;
			align-items: center;
			border: 1px solid #555;
			justify-content: center;
			border-radius: 4px;
			background-color: #fff;
			gap: 8px;
			padding: 2px 5px;
			font-family: inherit;
			svg {
				transform: translateY(1px);
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.footer {
		&__inner {
			padding: 24px 10px 100px;
		}
		&__notice {
			border: none;
			&-inner {
				padding: 20px 10px;
				ul {
					flex-wrap: wrap;
					row-gap: 20px;
					li {
						font-size: 16px;
						&::before {
							content: "";
							height: 12px;
							margin: 0px 14px;
						}
					}
				}
			}
		}
		&__top {
			margin-bottom: 40px;
		}
		&__menu {
			display: flex;
			li {
				display: flex;
				align-items: center;
				a {
					font-size: 14px;
					color: #666666;
					strong {
						font-weight: 700;
					}
				}
				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 12px;
					background-color: #d5d5d5;
					margin: 0px 14px;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}
		&__sns {
			display: flex;
			gap: 10px;
			li {
				&:first-child {
					margin-right: 30px;
				}
			}
		}
		&__bottom {
			gap: 30px;
			justify-content: space-between;
			flex-wrap: wrap;

			> div {
				width: 100%;
			}

			h6 {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 10px;
				color: #333;
			}
			p {
				font-size: 14px;
				line-height: 1.5;
				margin-bottom: 20px;
				display: flex;
				span {
					font-weight: 500;
					display: flex;
					align-items: center;
					margin-left: 4px;
					color: #333;
					&::after {
						content: "";
						display: block;
						width: 1px;
						height: 12px;
						background-color: #d5d5d5;
						margin: 0px 10px;
					}
				}
			}
			strong {
				font-size: 14px;
				font-weight: 700;
			}
			h5 {
				font-weight: 700;
				font-size: 32px;
				color: #3182f6;
				font-family: "Lato", sans-serif;
				margin-bottom: 14px;
			}
			button {
				max-width: 90px;
				display: flex;
				align-items: center;
				border: 1px solid #555;
				justify-content: center;
				border-radius: 4px;
				background-color: #fff;
				gap: 8px;
				padding: 2px 5px;
				font-family: inherit;
				svg {
					transform: translateY(1px);
				}
			}
		}
	}
}

@media screen and (max-width: 539px) {
	.footer {
		&__inner {
			padding: 10px 10px 80px;
		}
		&__notice {
			border: none;
			&-inner {
				padding: 20px 10px;
				ul {
					flex-wrap: wrap;
					row-gap: 14px;
					li {
						font-size: 12px;
						&::before {
							content: "";
							height: 12px;
							margin: 0px 10px;
						}
					}
				}
			}
		}
		&__top {
			margin-bottom: 30px;
		}
		&__menu {
			display: flex;
			li {
				a {
					font-size: 10px;
				}
				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 12px;
					background-color: #d5d5d5;
					margin: 0px 10px;
				}
			}
		}
		&__sns {
			display: flex;
			gap: 10px;
			align-items: center;
			li {
				&:first-child {
					order: 1;
					margin-right: 0;
				}
			}
		}
		&__bottom {
			gap: 30px;
			justify-content: space-between;
			flex-wrap: wrap;

			> div {
				width: 100%;
			}

			h6 {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 10px;
				color: #333;
			}
			p {
				font-size: 11px;
				line-height: 1.5;
				margin-bottom: 20px;
				display: flex;
				span {
					margin-left: 4px;
					
				}
			}
			strong {
				font-size: 11px;
			}
			h5 {
				font-size: 32px;
				margin-bottom: 14px;
			}
		}
	}
}