.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 110px;
		margin: 0px auto;
		padding: 0px 30px;
		max-width: 1600px;
	}
	&__logo {
		a {
			display: block;
			width: 254px;
			img {
				display: block;
				width: 100%;
			}
		}
	}
	&__nav {
		&-mo {
			display: none;
		}
		ul {
			display: flex;
			gap: 24px;
			li a {
				display: block;
				font-size: 18px;
				white-space: nowrap;
			}
		}
	}
	&__search {
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
		border-radius: 50px;
		width: 100%;
		max-width: 395px;
		min-width: 0;
		border: 1px solid #50e0b3;
		input[type="text"] {
			flex: 1 0;
			border: none;
			font-size: 14px;
			font-family: inherit;
			&:focus {
				outline: none;
			}
		}
		svg {
			width: 20px;
			fill: #c8c8c8;
		}
	}
	&__join {
		display: flex;
		align-items: center;
		li {
			display: flex;
			align-items: center;
			a {
				white-space: nowrap;
				font-size: 14px;
			}
			svg {
				width: 20px;
			}
			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 14px;
				background-color: #92d2e2;
				margin: 0px 10px;
			}
			&:last-child {
				&::after {
					width: 7px;
					height: 6px;
					background-color: #fff;
					margin: 0px;
					margin-left: 5px;
				}
			}
		}
	}
	&__mypage {
		display: none;
		justify-content: end;
		align-items: center;
		gap: 30px;
		li {
			font-size: 0;
			a {
				display: block;
				img {
					max-width: 40px;
					max-height: 40px;
					aspect-ratio: 1/1;
				}
			}
		}
		&-cart {
			position: relative;
			&__count {
				position: absolute;
				top: 10px;
				right: 4px;
				width: 28px;
				height: 28px;
				border-radius: 100%;
				background-color: #dc8282;
				transform: translate(50%, -50%);
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20px;
					height: 20px;
					border-radius: 100%;
					background-color: #ff1f1f;
					color: #fff;
					font-size: 12px;
				}
			}
		}
	}
}

/* tablet */
@media screen and (max-width: 1400px) {
	.header {
		&__inner {
			height: 110px;
			padding: 0px 15px;
			gap: 10px;
		}
		&__logo {
			a {
				width: 180px;
			}
		}
		&__nav {
			ul {
				gap: 20px;
				li a {
					font-size: 16px;
				}
			}
		}
		&__search {
			padding: 10px 20px;
			input[type="text"] {
				font-size: 14px;
			}
			svg {
				width: 20px;
			}
		}
		&__join {
			li {
				a {
					font-size: 14px;
				}
				svg {
					width: 18px;
				}
			}
		}
	}
}

/* tablet */
@media screen and (max-width: 1179px) {
	.header {
		&__inner {
			background: linear-gradient(90deg, #d3f797 0%, #04af7d 100%);
			height: 70px;
			padding: 0px 30px;
			gap: 10px;
		}
		&__logo {
			a {
				width: 180px;
				img {
					filter: brightness(100);
				}
			}
		}
		&__nav {
			display: none;
			&-mo {
				display: flex;
				padding: 20px 30px;
				justify-content: center;
				ul {
					gap: 50px;
				}
			}
		}
		&__search {
			display: none;
		}
		&__join {
			display: none;
		}
		&__mypage {
			display: flex;
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		&__inner {
			padding: 0px 30px;
		}

		&__nav {
			&-mo {
				padding: 20px 30px;
				ul {
					gap: 30px;
				}
			}
		}
	}
}

/* c.p */
@media screen and (max-width: 539px) {
	.header {
		&__inner {
			height: 60px;
			padding: 0px 20px;
		}
		&__logo {
			a {
				width: 150px;
			}
		}
		&__nav {
			&-mo {
				padding: 20px 20px;
				overflow-x: scroll;
				ul {
					gap: 14px;
					li a {
						font-size: 14px;
					}
				}
			}
		}
		&__mypage {
			gap: 20px;
			li {
				a {
					img {
						max-width: 30px;
						max-height: 30px;
					}
				}
			}
			&-cart {
				&__count {
					top: 10px;
					right: 4px;
					width: 24px;
					height: 24px;
					span {
						width: 20px;
						height: 20px;
						font-size: 12px;
					}
				}
			}
		}
	}
}
